*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
    text-decoration: none;
}
header a{
    color: white;
    text-decoration: none;
}
header h1{
    background-color: #1e5c7d;
    padding: 3em;
}
header nav{
    background-color: #1e5c7d;
    padding: 1em;
}
header nav li{
    display: inline-block;
    margin-right: 1em;
}
main{
    max-width: 70em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
section{
    background-color: #c47969;
    width: 29em;
    height: 12em;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
}
footer{
    background-color: #8db19d;
    padding: 1.5em;
}
article{
    background-color: #c47969;
    width: 50em;
    border-radius: 1em;
    padding: 2em;
}
aside{
    background-color: rgb(221, 221, 221);
    max-width: 8em;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
}
figure{
    float: left;
}
article figure img{
    border-radius: 0 5em 0 0;
    width: 10em;
}