*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(Images/Background\ \(1\).png);
}
header{
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0em 4em 0em 4em;
    }
    #icones a{
        padding: 1em;
    }
    form{
        width: 25%;
        input{
            width: 100%
        }
    }
    #menu{
        display: flex;
        justify-content: space-between;
        border-top: 2.5px solid #0255b3;
        border-bottom: 2.5px solid #0255b3;
        padding: 3px 1em 3px 1em;
    }
    a{
        text-decoration: none;
    }
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 12.5em;
}
footer{
    padding: 2em 0;
    margin: 0;
    width: 100%;
    height: 6em;
    background-color: #00ACE4;

    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        
        li{
            padding-left: 3em;
        }
    }


}