*{
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 5em;
    background: linear-gradient(to left,#7292A6, #224459 );
    color: white;
    padding: 2em 1em 1em 2em;
}
main{
    padding-top: 1em;
    display: grid;
    gap: 1em;
    grid-template-areas:
    "a b c c d"
    "a e f g h"
    "a i f j j";
    grid-template-columns: 1.25fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 33vh 33vh 33vh ;
}
main section{
    border: 1px solid black;
}
.area-a{

    grid-area: a;
    background-color: #C6D1D9;

}
.area-a li{
    margin: 2em 0 0 1em;
    font-size: 32pt;
    list-style-type: none;
    color: #224459;
}
.area-a a{
    text-decoration: none;
    color: #427A8F;
}

.area-b{
    grid-area: b;
    background-color: #ECECEC;
}
.area-b p{
    font-size: 16pt;
}

.area-c{
    background-color: #ECECEC;
    grid-area: c
}
.area-d{
    background-image: url(amanda.jpg);
    grid-area: d
    
}
.area-e{
    background-color: #ECECEC;
    grid-area: e
}
.area-f{
    background-color: #ECECEC;
    grid-area: f
}
.area-f > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.area-g{

    grid-area: g;
    background-image: url(georgia.jpg);

}
.area-h{

    grid-area: h;
    background-image: url(henrique.jpg);
    
    }
.area-i{

    grid-area: i;
    background-image: url(ellen.jpg);
    
    }
.area-j{
    background-color: #ECECEC;

grid-area: j

}


footer{
    background-color: #254458;
    padding: 6em;
    margin-top: 1em;
    color: white;
    text-align: center;

}